



<!DOCTYPE html>
<html>

<body>
    @{
        if (IsPost)
        {
            string street = Request["street"];
            string apt = Request["address2"];
            string city = Request["city"];
            string state = Request["state"];
            string zip = Request["zip"];
            string latloc = Request["lati"];
            string lonloc = Request["loni"];
            NewAddress ad = new NewAddress();
            ad.Lat = Double.Parse(latloc);
            ad.Lon = Double.Parse(lonloc);
            ad.Street1 = street;
            ad.Street2 = apt;
            ad.City = city;
            ad.State = state;
            ad.Zip = zip;

            Response.Write("Hi! This is your full address that is saved to the database: \n") ;
            <br>
            Response.Write(" Physical Address: "+ ad.Street1+" "+ ad.Street2+ " "+ ad.City+" "+ ad.State+" "+ ad.Zip);
            <br>
            Response.Write(" Latitude and Longitude: " + ad.Lat + " " + ad.Lon);



            ad.SaveAddressDB();

            <div id="floating-panel">
                <form name="myForm2" action="ShowResultAddress.aspx"
                              method="post">
                    <input type="submit" value="Save to Database" class="submit">

                </form>
            </div>
        }
        else
        {
            Response.Write("Error in post!");
        }


    }

</body>
</html>